.main {
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

.hero {
  width: 100%;
  min-height: 50vh;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 10vh 0;
}

.heading,
.heading > span {
  font-family: "Helvetica Condensed", "Helvetica", "sans-serif";
  font-size: 58px;
  font-weight: 700;
  text-transform: capitalize;
}

.heading > span {
  background: var(--primary);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  display: block;
}

.subheading {
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  max-width: 720px;
}

.imageContent {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .hero {
    padding: 10vh 15px;
  }

  .heading,
  .heading > span {
    font-size: 40px;
  }

  .subheading {
    font-size: 18px;
  }
}

.separator {
  width: 100%;
  height: 100px;
  background: url("/separator.svg") no-repeat bottom center;
  background-size: cover;
}

.showcase {
  height: 100%;
}

.softwareShowcase {
  display: flex;
  justify-content: center;
  z-index: 100;
  margin-bottom: -20vh;
}

.contentArea {
  padding: 5vh 0;
  height: 100%;
}

.container {
  padding: 10vh 10vw;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 60% 40%;
  align-items: center;
}

.containerReverse {
  padding: 10vh 10vw;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 40% 60%;
  align-items: center;
}

.blackTextContent {
  color: var(--black);
}

.whiteTextContent {
  color: var(--white);
}

@media screen and (max-width: 767px) {
  .container,
  .containerReverse {
    grid-template-columns: 1fr;
  }

  .textContent {
    order: 1;
  }
  .imageContent {
    order: 2;
  }
}

.ctaSection {
  width: 100%;
  height: 100%;
  padding: 10vh 10vw;
  background: linear-gradient(
    90.02deg,
    #4ea0dd 0.01%,
    #5ac6a3 48.78%,
    #4ea0dd 99.99%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}
