.main {
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

.hero {
  width: 100%;
  min-height: 50vh;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 10vh 0;
}

.heading,
.heading > span {
  font-family: "Helvetica Condensed", "Helvetica", "sans-serif";
  font-size: 58px;
  font-weight: 700;
  text-transform: capitalize;
  text-align: center;
}

.heading > span {
  background: var(--primary);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.subheading {
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  max-width: 720px;
}

@media screen and (max-width: 767px) {
  .hero {
    padding: 10vh 15px;
  }

  .heading,
  .heading > span {
    font-size: 40px;
  }

  .subheading {
    font-size: 18px;
  }
}

.separator {
  width: 100%;
  height: 63px;
  background: url("/separator.svg") no-repeat bottom center;
  background-size: contain;
}

.showcase {
  height: 100%;
}

.softwareShowcase {
  display: flex;
  justify-content: center;
  z-index: 100;
  margin-bottom: -20vh;
}

.contentArea {
  height: 100%;
}

.container {
  padding: 10vh 10vh;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 60% 40%;
  align-items: center;
}

.containerReverse {
  padding: 10vh 10vh;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 40% 60%;
  align-items: center;
}

.blackTextContent {
  color: var(--black);
  text-align: center;
}

.whiteTextContent {
  color: var(--white);
  text-align: center;
}

@media screen and (max-width: 767px) {
  .container, .containerReverse {
    grid-template-columns: 1fr;
  }
}