.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading {
  background-color: var(--black);
  width: 200px;
  height: 200px;
  animation: pulse 2s infinite;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

@keyframes pulse {
  0% {
    transform: scale(0.8);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.8);
  }
}
